.create {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
	font-size: 2em;

	.create_title {
		letter-spacing: 4px;
		margin-bottom: 10px;
		text-align: center;
	}
	.form-create {
		.input_container {
			display: flex;
			align-items: center;
			justify-content: center;
			input {
				margin-left: 10px;
				height: 30px;
			}
			.stroke {
				font-size: 1em;

				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: black;
			}
			.cross {
				color: red;
			}
		}

		.pokeImg {
			width: 50px;
			height: 50px;
			cursor: pointer;
		}
		.imgSelected_container {
			display: flex;
			align-items: center;
			justify-content: center;
			.pokeImgSelected {
				width: 100px;
				height: 100px;
			}
		}

		.form_imgs {
			margin: 0 auto;
			width: 90%;
		}
	}
	.create_buttons {
		display: flex;
		align-items: center;
		justify-content: space-around;
		// flex-direction: column;
		.getMore,
		.create {
			font-size: 1em;
		}
		.create {
			color: #f40061;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: black;
			letter-spacing: 3px;
		}
	}
}
