// @font-face {
// 	font-family: comic;
// 	src: url('../../font/BEST\ FRIENDS.OTF');
// }
.loading_container {
	width: 100%;
	height: 100%;
	background-color: black;
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	overflow: hidden;
}

.detail_container {
	font-family: comic;
	text-align: center;
	width: 100vw;
	height: 80%;
	margin: 0 auto;
	color: #f40061;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	// font-size: 20px;

	h2 {
		font-size: 55px;
		letter-spacing: 2px;
	}
	ul {
		list-style: none;
		display: flex;
		align-content: center;
		justify-content: center;
		li {
			font-size: 2.5em;
			padding: 0 10px;
		}
	}
	.detail_content {
		max-width: 800px;
		max-height: 800px;
		margin: 0 auto;
		display: flex;
		align-content: center;
		justify-content: center;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		.pokemon_image {
			width: 300px;
			height: 300px;
			background-size: 25%;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	.detail_stats_container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 2em;
		.detail_stats_numbers {
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 30%;
			padding: 0 10px;
			color: #24d84c;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: black;
		}
	}
	.deco_container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	.imageDeco {
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 300px;
		height: 300px;
		display: none;
	}
	// .deco_left_top,
	// .deco_right_top {
	// 	position: relative;
	// 	bottom: 200px;
	// }
	// .deco_left_bottom,
	// .deco_right_bottom {
	// 	position: relative;
	// 	top: 200px;
	// }
}
