.entry_wrapper {
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.entry_btn {
	font-weight: 600;
	border: solid 2px black;
	outline: 0;
	padding: 1rem 4rem;
	font-size: 1.5rem;
	letter-spacing: 0.08rem;
	background-color: white;
	border-radius: 0.35rem;
	position: relative;

	cursor: pointer;
}
