.nav_socials_container {
	display: flex;
	align-items: center;
	width: 100%;
	list-style: none;
	.nav_social {
		margin-left: 20px;
	}
	.nav_social .social {
		width: 30px;
		height: 30px;
	}
}
.desktop {
	display: none;
	justify-content: flex-end;
}
.mobile {
	justify-content: center;
}
