$small: 300px;
$medium: 900px;

@media screen and (min-width: $medium) {
	.home_container {
		display: block;
		margin: 0 auto;
		width: 90%;

		.pagination {
			margin: 0 auto;
		}
	}
	.entry_wrapper {
		.pikachuAnimated,
		.charizardAnimated,
		.squirtleAnimated,
		.pokeAnimated,
		.poke1Animated {
			display: block;
		}
	}

	.cards_container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: max-content;

		a,
		.skeleton_card {
			width: 90%;
			height: 150px;
		}
		a,
		.card_container {
			font-size: 2.5vw;
			letter-spacing: 4px;
			&:hover {
				padding: 3px;
			}
			.card_img_container {
				width: 33%;
				img {
					width: 75%;
				}
			}
			.card_types {
				width: 67%;
				flex-direction: column;
				.card_name {
					padding: 5px;
				}
			}
		}
	}
	.forms_container {
		flex-direction: row;
		width: 90%;
		margin: 0 auto;
	}
	.create {
		display: block;
	}
	.create .form-create .form_imgs {
		width: 400px;
	}
	.create_buttons {
		.getMore .create {
			font-size: 2em;
		}
	}
	.detail_socials_grid {
		display: block;
	}
	.detail_container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		h2 {
			font-size: 5em;
			letter-spacing: 6px;
		}
		.detail_content {
			.pokemon_image {
				width: 500px;
				height: 500px;
			}
		}
		.imageDeco {
			display: block;
		}
	}
	.desktop {
		display: flex;
	}
	.mobile {
		display: none;
	}
}
