$small: 300px;
$medium: 900px;

@media screen and (min-width: $medium) {
	//do Smth
	.cards_container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 180px;

		a,
		.skeleton_card {
			width: 90%;
			height: 150px;
		}
	}
}
//#B12F2F
