.grass {
	color: #24d84c;
}
.water {
	color: #24adf3;
}
.fire {
	color: #ea3321;
}
.poison {
	color: #7f7fd3;
}
.flying {
	color: #cfecfa;
}
.bug {
	color: #7cb342;
}
.electric {
	color: #feff4d;
}
.ground {
	color: #896565;
}
.fairy {
	color: #ffbbbb;
}
.fighting {
	color: #0a0707;
}
.psychic {
	color: #ff8141;
}
.rock {
	color: #e2d3ff;
}
.steel {
	color: #473535;
}
.ice {
	color: #1d61cc;
}
.dragon {
	color: #b12f2f;
}
.dark {
	color: #000000;
}
.ghost {
	color: #ffffff;
}
